In [1]:
import pandas as pd
data = pd.read_csv('result.csv', names = ["Id", "Iteration", "Tolerance", "Is_Converge", "Time_Elapsed", "Norm_Grad"])
data.head()

   1   10    0.0001  1.1  0.008560895919799805  8.646935822382482e-05
0  2  100  0.000100    0              1.128640           2.258462e+11
1  3  100  0.000100    0              4.487557           4.662488e-01
2  4   27  0.000100    1              5.352961           1.916350e-04
3  1   14  0.000001    1              0.010862           3.377708e-07
4  2  100  0.000001    0              1.800951           2.258462e+11