In [16]:
import pandas as pd
df = pd.read_csv('result.csv', names = ["Id", "Iteration", "Tolerance", "Is_Converge", "Time_Elapsed", "Norm_Grad"])
no_1 = df.loc[df['Id'] == 1]
no_1

    Id  Iteration     Tolerance  Is_Converge  Time_Elapsed     Norm_Grad
0    1         10  1.000000e-04            1      0.008561  8.646936e-05
4    1         14  1.000000e-06            1      0.010862  3.377708e-07
8    1         17  1.000000e-08            1      0.012805  5.277668e-09
12   1         20  1.000000e-10            1      0.014424  8.246355e-11
16   1         24  1.000000e-12            1      0.018001  3.221232e-13

In [11]:
no_2 = df.loc[df['Id'] == 2]
no_2

    Id  Iteration     Tolerance  Is_Converge  Time_Elapsed     Norm_Grad
1    2        100  1.000000e-04            0      1.128640  2.258462e+11
5    2        100  1.000000e-06            0      1.800951  2.258462e+11
9    2        100  1.000000e-08            0      1.218216  2.258462e+11
13   2        100  1.000000e-10            0      1.136303  2.258462e+11
17   2        100  1.000000e-12            0      1.257499  2.258462e+11

In [17]:
no_3 = df.loc[df['Id'] == 3]
no_3

    Id  Iteration     Tolerance  Is_Converge  Time_Elapsed  Norm_Grad
2    3        100  1.000000e-04            0      4.487557   0.466249
6    3        100  1.000000e-06            0      6.223554   0.466249
10   3        100  1.000000e-08            0      4.817821   0.466249
14   3        100  1.000000e-10            0      4.327804   0.466249
18   3        100  1.000000e-12            0      5.065728   0.466249

In [18]:
no_4 = df.loc[df['Id'] == 4]
no_4

    Id  Iteration     Tolerance  Is_Converge  Time_Elapsed     Norm_Grad
3    4         27  1.000000e-04            1      5.352961  1.916350e-04
7    4         67  1.000000e-06            1     15.583879  2.648535e-06
11   4        100  1.000000e-08            0     20.362860  3.657662e-07
15   4        100  1.000000e-10            0     20.316212  3.657662e-07
19   4        100  1.000000e-12            0     22.307908  3.657662e-07